In [ ]:
import numpy as np

### 1. 값이 10~49 인 numpy array를 만드세요

In [ ]:
z = np.arange(10, 50)
print(z)

[10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33
 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49]

### 2. z를 반전하세요

In [ ]:
z = z[::-1]
print(z)

[49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26
 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10]

### 3. 반전시킨 z 매트릭스를 10x4 매트릭스로 바꾸세요

In [ ]:
z = z.reshape(10, 4)
print(z)

[[49 48 47 46]
 [45 44 43 42]
 [41 40 39 38]
 [37 36 35 34]
 [33 32 31 30]
 [29 28 27 26]
 [25 24 23 22]
 [21 20 19 18]
 [17 16 15 14]
 [13 12 11 10]]

### 4. x에서 0이 아닌 요소의 색인을 찾아보세요

In [ ]:
x = np.array([5,6,8,0,1,0,7])
nz_idx = np.nonzero(x)[0]
print(nz_idx)

[0 1 2 4 6]

### nan값 이해하기

In [ ]:
print(np.nan == np.nan) # 다른 NaN값과 비교해도 항상 False
print(np.isnan(np.nan)) # NaN 여부 검사

import math
print(0.3 == 3 * 0.1) # 부동 소수점 연산 한계로 다를 수 있음 => False
print(math.isclose(0.1 + 0.2, 0.3)) # math.isclose(): 두 수가 거의 같은지 판단

False
True
False
True

### 5. 12x12 매트릭스를 만들어 바둑판 패턴으로 0과 1을 채우세요

In [ ]:
x = np.zeros((12, 12))
print(x, end='\n\n')
###############
# 슬라이싱을 사용하세요

x[1::2, ::2] = 1
x[0::2, 1::2] = 1



###############
print(x)

[[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]]

[[0. 1. 0. 1. 0. 1. 0. 1. 0. 1. 0. 1.]
 [1. 0. 1. 0. 1. 0. 1. 0. 1. 0. 1. 0.]
 [0. 1. 0. 1. 0. 1. 0. 1. 0. 1. 0. 1.]
 [1. 0. 1. 0. 1. 0. 1. 0. 1. 0. 1. 0.]
 [0. 1. 0. 1. 0. 1. 0. 1. 0. 1. 0. 1.]
 [1. 0. 1. 0. 1. 0. 1. 0. 1. 0. 1. 0.]
 [0. 1. 0. 1. 0. 1. 0. 1. 0. 1. 0. 1.]
 [1. 0. 1. 0. 1. 0. 1. 0. 1. 0. 1. 0.]
 [0. 1. 0. 1. 0. 1. 0. 1. 0. 1. 0. 1.]
 [1. 0. 1. 0. 1. 0. 1. 0. 1. 0. 1. 0.]
 [0. 1. 0. 1. 0. 1. 0. 1. 0. 1. 0. 1.]
 [1. 0. 1. 0. 1. 0. 1. 0. 1. 0. 1. 0.]]

### 6. np.tile을 이용해서 동일한 바둑판 패턴을 만들어보세요

In [ ]:
x = np.tile([[0, 1], [1, 0]], (6, 6))
print(x)

[[0 1 0 1 0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0 1 0 1 0]]

### 7. 1차원 배열이 x에서 값이 5~10인 요소를 0으로 바꾸세요

In [ ]:
x = np.array([2,5,3,8,3,34,23,7,10])
print(x)
##################
# 필터링을 사용하세요.
indices = np.where((x >= 5) & (x <= 10))
x[indices] = 0

##################
print(x)

[ 2  5  3  8  3 34 23  7 10]
[ 2  0  3  0  3 34 23  0  0]

### 8. 0에서 100 사이의 값으로 크기가 10인 1차원 array를 만드세요

In [ ]:
ary = np.random.uniform(0, 101, 10)
print(ary)

[  3.12706976  55.48019385  97.35433302  12.46586194  62.72405609
  85.41874606 100.21532248  12.90254234  47.99098563  79.51977369]

### 9. np.allclose() 함수를 사용하여 2개의 array가 같은지를 확인해보세요

In [ ]:
A = np.array([1e10,1e-8])
B = np.array([1.00001e10,1e-9])

equal = np.allclose(A, B)
print(equal)

True

### 10. 데카르트 좌표를 나타내는 랜덤 8x2 행렬을 고려하여 극좌표로 변환해보세요

- 데카르트 좌표 (x, y)
- 극좌표 (r, θ)

$$ r = \sqrt{x^2 + y^2} $$
$$ θ = tan^{-1}(\frac{y}{x}) $$

In [ ]:
coord = np.random.random((10,2))
x, y = coord[:,0], coord[:,1]

r = np.sqrt(x**2 + y**2)
theta = np.arctan2(y, x)

ploar_coord = np.concatenate([r[:,np.newaxis], theta[:,np.newaxis]],axis=1)
print(ploar_coord)

[[1.35281835 0.78876849]
 [0.42360062 1.19886051]
 [1.36179479 0.79393985]
 [0.55809116 0.85363573]
 [0.73334118 0.45746004]
 [0.3241026  0.05855289]
 [0.58448858 1.41108116]
 [0.62312842 0.86662834]
 [0.7423895  1.04519316]
 [0.3439065  1.5302902 ]]